body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: white;
  padding: 20px;
  position: sticky;
  top: 0;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

section {
  padding: 100px 20px;
  border-bottom: 1px solid #ddd;
}

.hero img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
footer {
  background: #eee;
  padding: 20px;
  text-align: center;
}